@charset "UTF-8";
/* <================ ""MAIN" content styles==============> */
/* <================ ""MAIN" content styles==============> */
:root {
  /* Font family         */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  /* Text color variable */
  --text-color-accent: #2196f3;
  --text-color-standart: #757575;
  --text-color-pureblack: #000000;
  --text-color-black: #212121;
  --text-color-white: #ffffff;
  --text-color-address-link: rgba(255, 255, 255, 0.6);
  /* button color variable */
  /* <-------button-hero-----------> */
  --button-backgr-color: #2196f3;
  --button-main-active-bcgr-color: #188ce8;
  /* <--------button-portfolio-------> */
  --button-bcgr-color: #f5f4fa;
  --button-portf-active-bcgr-color: #2196f3;
  /* background color variable */
  --color-team-backgr: #f5f4fa;
  --color-footer-backgr: #2f303a;
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/*<================ Global stylesheets ===========> */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--text-color-standart);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1150px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-half-bottom {
  padding-top: 94px;
  padding-bottom: 47px;
}

.section-half-top {
  padding-top: 47px;
  padding-bottom: 94px;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 91px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.section-title--h-indent {
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  border-radius: 50%;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: transparent;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item__link:hover,
.social-list__item__link:focus {
  background-color: var(--button-backgr-color);
  fill: var(--text-color-white);
}

.wrapper-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.modal-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .modal-menu {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100vw;
    height: 100vh;
  }
  .modal-menu__close-button {
    position: absolute;
    line-height: 0;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--text-color-pureblack);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu__close-button__modal-icon-close {
    width: 40px;
    height: 40px;
    fill: currentColor;
  }
  .modal-menu__close-button:hover, .modal-menu__close-button:focus {
    color: var(--button-backgr-color);
  }
  .modal-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.navigation__list:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__item {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .navigation__item {
    font-size: 40px;
  }
}

.navigation__item:target,
.navigation__item:focus {
  color: var(--text-color-accent);
}

.modal-menu__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.contacts__list:not(:last-child) {
  margin-bottom: 32px;
}

.contacts__item-tel {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color-accent);
}

.contacts__item-mail {
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color-standart);
}

@media screen and (min-width: 480px) {
  .contacts__item-tel {
    font-size: 34px;
  }
  .contacts__item-mail {
    font-size: 24px;
  }
}

.modal-menu__social {
  display: flex;
  flex-wrap: wrap;
  font-size: 34px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color-accent);
}

@media screen and (min-width: 320px) and (max-width: 478px) {
  .modal-menu__social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-menu__social::after {
    content: '';
    position: absolute;
    top: 56%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
  .modal-menu__social::before {
    content: '';
    position: absolute;
    top: 56%;
    left: 36%;
    transform: rotatez(90deg);
    height: 2px;
    width: 30%;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.modal-menu__social__list {
  width: calc((100% - 20px) / 2);
  text-align: center;
}

@media screen and (min-width: 480px) {
  .modal-menu__social__list {
    width: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal-menu__social__list {
    font-size: 0;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .modal-menu__social__list:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
}

.modal-menu__social__item {
  display: inline-block;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--text-color-accent);
}

/* ===================== header start  ========================== */
.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.flex-item-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  display: inline-block;
}

.logo--header {
  color: var(--text-color-pureblack);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 93px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo--footer {
  color: var(--text-color-white);
  margin-bottom: 20px;
}

.logo__web {
  color: var(--text-color-accent);
}

.header__nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav__list {
    display: flex;
  }
}

.header__list__item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__list__item:hover, .header__list__item:focus {
  color: var(--text-color-accent);
}

.header__nav__item + .header__nav__item {
  margin-left: 50px;
}

.header-current {
  position: relative;
  color: var(--text-color-accent);
}

@media screen and (min-width: 768px) {
  .header-current:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0px;
    border-radius: 2px;
    background-color: var(--button-backgr-color);
  }
}

.header__content {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__content {
    flex-direction: row;
  }
}

.header__content__item {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--text-color-standart);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__content__item:hover, .header__content__item:focus {
  color: var(--text-color-accent);
}

@media screen and (min-width: 1200px) {
  .header__content__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header__content__list + .header__content__list {
    margin-left: 50px;
  }
}

/* ========================== icons  ================================== */
.header__icon__mail {
  display: inline-block;
  margin-right: 10px;
  fill: currentcolor;
}

.header__icon__smartphone {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

/*========================== menu modal ==========================*/
.modal-menu__button {
  display: none;
}

@media screen and (max-width: 767px) {
  .modal-menu__button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu__button__modal-icon-open {
    width: 40px;
    height: 40px;
    fill: currentColor;
    line-height: 0;
  }
  .modal-menu__button:hover,
  .modal-menu__button:focus {
    color: var(--button-backgr-color);
  }
}

/* ===================== header end  ========================== */
/* ===================== hero start  ========================== */
.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/320/banner-320-x1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero .container {
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/320/banner-320-@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/480/banner-480-x1.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 480px), (min-resolution: 192dpi) and (min-width: 480px), (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/480/banner-480-@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/768/banner-768-x1.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/768/banner-768-@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1200/banner-1200-x1.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1200/banner-1200-@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    width: 696px;
  }
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background-color: var(--button-backgr-color);
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, box-shadow;
  transition-duration: 1150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  color: var(--text-color-white);
  background-color: var(--button-main-active-bcgr-color);
}

/* ===================== hero end ========================== */
/* ===================== prefs start  ========================== */
.container .prefs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .container .prefs {
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .container .prefs {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.prefs__item {
  /* width: 270px; */
  width: 100%;
}

.prefs__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .prefs__item {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .prefs__item {
    width: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.test {
  display: flex;
}

.prefs__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--button-bcgr-color);
}

/* .prefs-bg .icon {
  width: 70px;
  height: 70px;
} */
.prefs__item__h {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color-black);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .prefs__item__h {
    text-align: start;
  }
}

/* .prefs-item-p {
   this style's in our body 
} */
/* ===================== prefs end  ========================== */
/* =====================  what-we-do start  ========================== */
.section-half-top {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-half-top {
    display: block;
  }
}

.what-wedo__list {
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.what-wedo__list__item {
  width: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.wrapper-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.wrapper-description--what-wedo {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 82px;
}

/* ===================== what0-we-do end  ========================== */
/* ===================== our-team start  ========================== */
.our-team {
  background-color: var(--color-team-backgr);
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.our-team__list__item {
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our-team__list__item {
    width: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list__item {
    width: calc((100% - 120px) / 4);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.our-team__list__i {
  width: 100%;
  max-width: 450px;
  max-height: 100%;
}

.our-team__list__description {
  padding: 30px 32px;
}

.our-team__list__description__h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color-black);
  display: block;
  margin-bottom: 10px;
}

.our-team__list__description__p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-color-standart);
  display: block;
  margin-bottom: 16px;
}

/* ===================== our-team end  ========================== */
/* ========================== clients start  ========================== */
.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .client__list {
    margin-top: 0;
    margin-left: 0;
  }
}

.clients__logo {
  display: block;
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__logo {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__logo {
    width: 170px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .clients__logo:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__logo__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  min-height: 92px;
  fill: #afb1b8;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo__icon:hover, .clients__logo__icon:focus {
  border-color: var(--button-backgr-color);
  fill: var(--text-color-accent);
}

/* ========================== clients end =========================== */
/* ============================ footer start ====================== */
.footer {
  background-color: var(--color-footer-backgr);
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-items-baseline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .flex-items-baseline {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer__adress__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer__adress__container {
    align-items: flex-start;
  }
}

.footer-adress {
  max-width: 240px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-adress {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    text-align: start;
  }
}

/* .adress {
} */
.footer-adress__item {
  display: inline-block;
  margin-bottom: 9px;
  /* or 171% */
}

.footer-adress__item:last-child {
  margin-bottom: 0;
  /* or 171% */
}

.footer-adress__map {
  font-style: normal;
  /* or 171% */
  color: var(--text-color-white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__map:hover, .footer-adress__map:focus {
  color: var(--text-color-accent);
}

.footer-adress__cont {
  font-style: normal;
  color: var(--text-color-address-link);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__cont:hover, .footer-adress__cont:focus {
  color: var(--text-color-accent);
}

/* ------------------ footer follow form start ------------------- */
.footer-follow {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-follow {
    margin-bottom: 0px;
    width: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-follow {
    text-align: start;
    margin-left: auto;
    width: auto;
  }
}

.wrapper-description--follow-us {
  margin-bottom: 20px;
}

.social-list__item--background {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__item__link--text__white {
  fill: var(--text-color-white);
}

/* ------------------ footer follow form end ------------------- */
/* ------------------ footer subscribe form ------------------- */
@media screen and (max-width: 767px) {
  .footer-subscribe {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscribe {
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe--end {
    margin-left: auto;
  }
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-form {
    flex-direction: row;
  }
}

.footer-subscribe-form__container {
  width: 100%;
}

.wrapper-description--subscribe {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .wrapper-description--subscribe {
    text-align: left;
  }
}

.footer-subscribe-form__email {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}

.footer-subscribe-form__email::placeholder {
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-form__email {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 358px;
  }
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
  background-color: var(--button-backgr-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--button-backgr-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 1250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover, .footer-subscribe-button:focus {
  background-color: var(--button-main-active-bcgr-color);
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-button {
    align-self: flex-end;
  }
}

.footer-subscribe-button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

/* ------------------footer subscribe form end ------------------- */
/* ======================= footer end ============================ */
/* <==========  page Portfolio "different styles" start ========> */
/* <---------portfolio buttons --------> */
.portfolio__buttons-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__buttons-list {
    justify-content: center;
  }
}

.portfolio__buttons-list--indent {
  margin-top: -8px;
  margin-left: -8px;
  margin-bottom: 50px;
}

.portfolio__buttons-list__item {
  margin-top: 8px;
  margin-left: 8px;
}

.portfolio__buttons-list__item-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  background-color: var(--button-bcgr-color);
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__buttons-list__item-button:hover, .portfolio__buttons-list__item-button:focus {
  color: var(--text-color-white);
  background-color: var(--button-portf-active-bcgr-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* <-----------portfolio card list-----------> */
.portf {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portf {
    justify-content: center;
  }
}

.portf--indent {
  margin-top: -30px;
  margin-left: -30px;
  justify-content: center;
}

.portf--indent:not(:last-child) {
  justify-content: center;
}

.portf__list {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .portf__list {
    width: 100%;
  }
}

.portf__list:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .portf__list:last-child {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portf__list:last-child {
    margin-top: -30px;
  }
}

.portf__list__item {
  display: block;
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portf__list__item:hover, .portf__list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portf__list__item {
    width: calc((768px - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portf__list__item {
    width: calc((1200px - 90px) / 3);
  }
}

.portf__list__item__card-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portf__list__item__card-title {
    min-height: 146px;
  }
}

.portf__list__item__card-main__img {
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .portf__list__item__card-main__img {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .portf__list__item__card-main__img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .portf__list__item__card-main__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portf__list__item__card-main__img {
    width: 370px;
  }
}

.portf__list__item__card-title__h {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-black);
  margin-bottom: 4px;
  display: block;
}

.portf__list__item__card-title__p {
  display: block;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-standart);
}

.portf__list__item__card-main {
  position: relative;
  overflow: hidden;
}

.portf__list__item__card-main__anim {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transition-property: transform;
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
}

.portf__list__item:hover .portf__list__item__card-main__anim,
.portf__list__item:focus .portf__list__item__card-main__anim {
  transform: translatey(0);
}

/* <==========  page Portfolio "different styles" end ========> */
/* <==========  backdrop start ========> */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* <==========  backdrop end ========> */
/* =========================== modal window ====================== */
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-width: 300px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}

.modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--text-color-pureblack);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover, .modal-button-close:focus {
  color: var(--text-color-accent);
}

.modal-button-close__icon-close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ===============    modal form ====================*/
.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color-black);
}

@media screen and (min-width: 1200px) {
  .modal-form {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .modal-form__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 568px) and (max-width: 823px) and (max-height: 414px) {
  .modal-form {
    padding: 20px;
  }
  .modal-form__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .album-rotation {
    display: flex;
    margin-bottom: 20px;
  }
  .album-rotation__main {
    margin-right: 10px;
    width: 55%;
  }
  .album-rotation__textarea {
    width: 45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-start;
  }
  .album-rotation .modal-form__label-text {
    display: none;
    margin-bottom: 0px;
  }
  .album-rotation .modal-form__input__text::placeholder {
    visibility: visible;
    opacity: 1;
    font-size: 10px;
    line-height: 1.16;
    color: rgba(117, 117, 117, 0.5);
  }
  .album-rotation .modal-form__input-textarea {
    height: 138px;
    margin-bottom: 0;
  }
  .album-rotation .modal-form__input-textarea::placeholder {
    font-size: 10px;
  }
  .private-policy {
    justify-content: center;
  }
  .modal-button-send {
    padding: 0px 40px !important;
  }
}

.modal-form__input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__label-text {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color-standart);
  margin-bottom: 4px;
}

.modal-form__input__text {
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 42px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  color: var(--text-color-black);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input__text:last-child {
  margin-bottom: 20px;
}

.modal-form__input__text::placeholder {
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input__text:focus {
  border-color: var(--button-backgr-color);
}

.modal-form__input__text:focus + .modal-form__input__icon {
  fill: var(--button-backgr-color);
}

.modal-form__input__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translatey(-50%);
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input__text:focus + .modal-form__input__icon {
  fill: var(--button-backgr-color);
}

.modal-form__input-textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 96px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  color: var(--text-color-black);
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input-textarea::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-textarea:focus {
  border-color: var(--button-backgr-color);
}

.private-policy {
  display: flex;
  flex-direction: row;
}

.modal-form__private-policy--indent {
  margin-left: 12px;
  margin-bottom: 30px;
}

/* =================== кастом ====================*/
.private-policy__custom-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.private-policy__custom-checkbox + .private-policy__label-checkbox {
  /* для элемента label, связанного с .custom-checkbox*/
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.private-policy__custom-checkbox + .private-policy__label-checkbox::before {
  /* создание в label псевдоэлемента before со следующими стилями */
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--text-color-black);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
  transition-property: border-color, background-image, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.private-policy__custom-checkbox:focus:not(:checked) + .private-policy__label-checkbox::before {
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии check*/
  border-color: var(--button-backgr-color);
}

.private-policy__custom-checkbox:checked + .private-policy__label-checkbox::before {
  /* стили для чекбокса, находящегося в состоянии checked*/
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("../images/Vector.svg");
  background-size: contain;
}

.private-policy__custom-checkbox:disabled + .private-policy__label-checkbox::before {
  /* стили для чекбокса, находящегося в состоянии disabled */
  background-color: #e9ecef;
}

.private-policy__text {
  color: var(--text-color-standart);
}

.private-policy__link {
  text-decoration-line: underline;
  color: var(--text-color-accent);
}

.modal-button-send {
  padding: 10px 56px;
  align-self: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--text-color-white);
  background-color: var(--button-backgr-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send:hover, .modal-button-send:focus {
  background-color: var(--button-main-active-bcgr-color);
}

/* =========================== modal form end ====================== */
/* =========================== modal window end ====================== */
/*# sourceMappingURL=main.css.map */