.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  border-radius: 50%;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  fill: #afb1b8;
  background-color: transparent;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item__link:hover,
.social-list__item__link:focus {
  background-color: var(--button-backgr-color);
  fill: var(--text-color-white);
}
